.popup-user {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner-user {
  position: relative;
  padding: 4rem;
  width: 100%;
  max-width: 80rem;
  background: black;
  border-radius: 2rem;
}